<p id="notice"><%= notice %></p>

<h1>Contacts</h1>


<div class='media'>
  <div class='media-body'>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Phone</th>
          <th>Birthdate</th>
          <th>Address</th>
          <th>Email</th>
          <th>Credit Card Type</th>
          <th>Credit Card Number</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <%= will_paginate %>
        <tbody>
          <% @contacts.each do |contact| %>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.phone %></td>
              <td><%= contact.birthdate %></td>
              <td><%= contact.address %></td>
              <td><%= contact.email %></td>
              <td><%= contact.credit_card.franchise if contact.credit_card %></td>
              <td><%= generate_string_in_last_four(contact.credit_card.last_four_digits) if contact.credit_card%></td>
            </tr>
          <% end %>
        </tbody>
      <%= will_paginate %>
    </table>
  </div>
</div>

<br>

<%= link_to 'New Contact', new_contact_path %>

<br>

<h3>Import Contacts</h3>
<%= form_tag import_contacts_path, multipart: true do %>
  <%= file_field_tag :file %>
  <hr>
  <%= submit_tag "Upload contacts file", class: 'btn btn-primary'%>
<%end %>